<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="/fragments/top.html :: fragment-header"></header>
<!--페이지소스 시작-->
<link rel="stylesheet" href="/css/guide.css" type="text/css">

<section class="hero">
    <div class="container">
        <div class="row">
            <!--가이드 시작-->
            <div class = "guide-wrapper">
                <div class ="guide-body">
                    <div class ="step-div">
                        <div class ="step1">
                            <div class="step-title">
                                <div class="i-div">
                                <i class="fa-solid fa-check-to-slot"></i></div>
                                <span>&nbsp;회원가입</span>
                            </div>
                            <div class="step-desc">
                                <div class="kakaoImg-div">
                                <img src="/img/KAKAOBTN.png" alt="카카오로고" style="display: inline-block"></div><span class="desc-span">&nbsp;&nbsp;버튼을 누르면<br></span><span
                                    class="desc-span" id="step1-yellow-mark">정보 입력 없이</span><span class="desc-span" style="background: linear-gradient(to top, #970f422e 50%, transparent 50%)">&nbsp;간편하게 회원가입 및 로그인이 가능합니다</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class ="step-div">
                        <div class ="step2">
                            <div class="step-title">
                                <div class="i-div">
                                    <i class="fa-solid fa-location-dot"></i></div>
                                <span>&nbsp;주소등록</span>
                            </div>
                            <div class="step-desc">
                                <span class="desc-span">로그인 후&nbsp;&nbsp;</span><img src="/img/MyBtn.png" alt="내정보버튼" id="myBtn"><span class="desc-span">&nbsp;>&nbsp;내정보&nbsp;>&nbsp;주소등록 에서</span><span
                                    class="desc-span" id="step2-mark" style="background: linear-gradient(to top, #970f422e 50%, transparent 50%)">&nbsp;주소등록 및 수정이 가능합니다</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class ="step-div">
                        <div class ="step3">
                            <div class="step-title">
                                <div class="i-div">
                                    <i class="fa-solid fa-bag-shopping"></i></div><span>&nbsp;상품구매</span>
                            </div>
                            <div class="step-desc">
                                <span class="desc-span">주소등록을 완료하시면 상품구매가 가능합니다.<br>상품은</span><span class="desc-span" style="background: linear-gradient(to top, #970f422e 50%, transparent 50%)"> 주문일 기준 3~4일 이내에 발송됩니다</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class ="step-div">
                        <div class ="step4">
                            <div class="step-title">
                            <div class="i-div">
                                <i class="fa-regular fa-circle-question"></i></div>
                            <span>&nbsp;문의하기</span>
                            </div>
                            <div class="step-desc">
                                <span class="desc-span">우측하단의&nbsp;</span><img src="/img/채널톡아이콘.png" alt="채널톡아이콘" id="channelTalk-icon"><span class="desc-span">&nbsp;를 클릭하여 문의를 남겨주세요.</span><br>
                                <span class="desc-span" style="background: linear-gradient(to top, #970f422e 50%, transparent 50%)">남겨주신 문의는 1시간 이내에 장터쥔장이 직접 답변드리고 있습니다&nbsp;<i class="fa-solid fa-face-laugh-beam"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div><a class="temp" th:href="@{/withdraw}"> 세션끊기 </a></div>
            </div>
            <!--가이드 끝-->
        </div>
    </div>
</section>
<!--페이지소스 끝-->

<footer th:replace="/fragments/bottom.html :: fragment-footer"></footer>
</body>
</html>