<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="fragments/top.html :: fragment-header"></header>
<!--페이지소스 시작-->

<section class="hero">
    <div class="container">
        <div class="row">
            <!--사이트 소개 시작-->


            <!--사이트 소개 끝-->
        </div>
    </div>
</section>
<!--페이지소스 끝-->

<footer th:replace="fragments/bottom.html :: fragment-footer"></footer>
</body>
</html>