<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="fragments/top.html :: fragment-header"></header>
<link rel="stylesheet" href="/css/introduction.css" type="text/css">
<!--페이지소스 시작-->

<section class="hero">
    <div class="container">
        <div class="row">
            <!--사이트 소개 시작-->
            <div class = "introduction-wrapper">

                <div class = "inner-div1">
                    <div class="introduction-title">
                        <div class ="logo-img-div">
                            <img class ="logo-img" alt="로고" src="/img/LOGO.png">
                        </div>
                        <div class="title-desc-div">
                            <span>는 ~ 입니다</span>
                        </div>
                    </div>

                    <div class="top-div">
                        <p class="top-p">어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구
                            저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구
                            어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구</p>
                    </div>
                </div>


                <div class = "inner-div1">
                    <div class="img-inner-div">
                        <div class="introduction-img-div"><img src="/img/introduction-img1.jpg" alt="털실이미지"></div>
                        <div class="introduction-img-div"><img src="/img/introduction-img2.jpg" alt="털실이미지"></div>
                    </div>
                </div>


                <div class = "inner-div1">
                    <div class="introduction-desc-wrapper">
                        <div class="introduction-i-div"><i class="fa-solid fa-question"></i></div>
                        <div class="introduction-desc-div">
                            <p class="introduction-desc-p">어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구</p>
                        </div>
                    </div>
                    <div class="introduction-desc-wrapper">
                        <div class="introduction-i-div"><i class="fa-solid fa-question"></i></div>
                        <div class="introduction-desc-div">
                            <p class="introduction-desc-p">어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구</p>
                        </div>
                    </div>
                    <div class="introduction-desc-wrapper">
                        <div class="introduction-i-div"><i class="fa-solid fa-question"></i></div>
                        <div class="introduction-desc-div">
                            <p class="introduction-desc-p">어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구</p>
                        </div>
                    </div>
                </div>

                <div class = "inner-div1">
                    <div class="bottom-div"><p class="bottom-p">어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구</p></div>

                </div>
            </div>

            <!--사이트 소개 끝-->
        </div>
    </div>
</section>
<!--페이지소스 끝-->

<footer th:replace="fragments/bottom.html :: fragment-footer"></footer>
</body>
</html>