<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="/fragments/top.html :: fragment-header"></header>
<!--페이지소스 시작-->
<link rel="stylesheet" href="/css/detail.css" type="text/css">

<section class="hero">
    <div class="container">
        <div class="row">
            <!--상품상세시작-->
            <div class="item-detail-wrapper-div">
                <div class="detail-div" id="detail-wrapper-div">

                    <div class="detail-img-div">
                        <img th:src="@{/uploadImg/} + ${item.getOrginFileName()}" alt="${item.itemName}">

                    </div>
                    <div class="detail-info-div">
                        <input type="hidden" id="itemId" th:value="${item.id}">
                        <input type="hidden" id="sellerId" th:value="${item.sellerId}">
                        <div class="detail-info-div-1">
                            <div class="input-group mb-3">
                                <span class="input-group-text">상품명</span>
                                <input type="text" class="form-control" aria-label="Username"
                                       aria-describedby="basic-addon1" th:value="${item.itemName}">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">가격</span>
                                <input type="text" class="form-control" aria-label="Username"
                                       aria-describedby="basic-addon1" th:value="${item.price}">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">판매자</span>
                                <input type="text" class="form-control" aria-label="Username"
                                       aria-describedby="basic-addon1" th:value="${item.sellerName}">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">등록일</span>
                                <input type="text" class="form-control" aria-label="Username"
                                       aria-describedby="basic-addon1" th:value="${#temporals.format(item.getRegTime(),'yyyy-MM-dd')}">

                            </div>

                            <div class="input-group">
                                <span class="input-group-text">상품설명</span>
                                <textarea class="form-control" aria-label="With textarea" th:text="${item.itemDesc}"></textarea>
                            </div>

                        </div><!--1-->

                        <div class="detail-info-div-2">
                            <form role="form" method="get">
                            <th:block th:if="${item.sellStatus==T(com.proj.KnitMarket.Constant.SellStatus).SELL}">
                                <button th:formaction="@{'/knitmarket/cart/' + ${item.id} }" type="submit" class="btn btn-outline-success" >장바구니</button>
                                <button type="button" class="btn btn-outline-danger">구매하기</button>
                            </th:block>
                            <div th:unless="${item.sellStatus==T(com.proj.KnitMarket.Constant.SellStatus).SELL}">
                                <h5>품절된 상품입니다</h5>
                            </div>
                            <button th:formaction="@{'/knitmarket/register/' + ${item.id} }" type="submit" class="btn btn-outline-dark" th:if="(${session.role}=='seller') and (${item.sellerId}==${session.id})">수정하기</button>
                            <button th:formaction="@{'/knitmarket/delete/' + ${item.id} }" type="submit" class="btn btn-outline-secondary" th:if="(${session.role}=='seller') and (${item.sellerId}==${session.id})">삭제하기</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div><!--상품상세 끝-->
        </div>
    </div>
</section>
<!--페이지소스 끝-->

<footer th:replace="/fragments/bottom.html :: fragment-footer"></footer>
<script type="text/javascript" th:src="@{/js/detail.js}"></script>
</body>
</html>