<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="/fragments/top.html :: fragment-header"></header>
<!--페이지소스 시작-->
<link rel="stylesheet" href="/css/seller/register.css" type="text/css">

<section class="hero">
    <div class="container">
        <div class="row">
            <!--상품목록시작-->
            <div class="item-wrapper-div">

                <div class="item-wrapper-top">
                    <div class ="item-wrapper-top-title">상품정보를 입력해주세요</div>
                    <!--<div class="search-area">
                        <select>
                            <option>옵션</option>
                        </select>&nbsp;
                        <input type="text" class="search-keyword">&nbsp;
                        <button type="button" class="btn btn-outline-secondary" id="search-btn">검색</button>
                    </div>
                    <div class="button-area">
                        <button type="button" class="btn btn-outline-secondary" id="register-btn">상품등록</button>
                    </div>-->


                </div>
                <div class="item-wrapper-body">
                    <div class="item-form-div">
                        <form enctype="multipart/form-data" th:action th:object="${item}" method="post">
                            <div class="product-info">

                                <div class="input-group mb-3">
                                    <span class="input-group-text">상품명</span>
                                    <input type="text" id="itemName" name="itemName" class="form-control" th:field="*{itemName}"
                                           aria-label="Sizing example input"
                                           aria-describedby="inputGroup-sizing-default">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">판매자</span>
                                    <input type="text" id="seller" name = "seller" th:value="${session.name}" readonly
                                           class="form-control" aria-label="Sizing example input"
                                           aria-describedby="inputGroup-sizing-default">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">상품금액</span>
                                    <input type="text" id="price" name="price" class="form-control"
                                           aria-label="Sizing example input" th:field="*{price}"
                                           aria-describedby="inputGroup-sizing-default">
                                </div>

                                <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="itemDesc"
                                          style="height: 100px" name="itemDesc" th:field="*{itemDesc}"></textarea>
                                    <label for="itemDesc">상품 설명</label>
                                </div>
                                <!--
                                       <div class="product-info-div" id="product-desc-div">
                                           <label for="itemDesc">상품설명</label>
                                           <textarea id="itemDesc" name ="itemDesc"></textarea>
                                       </div>-->
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">상품 사진</label>
                                    <input class="form-control" type="file" id="formFile" name="file" th:field="*{file}>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark" id="save_Btn">상품등록</button>


                        </form>
                    </div>

                </div>
                <!--상품목록 끝-->
            </div>
        </div>
    </div>
</section>
<!--페이지소스 끝-->

<footer th:replace="/fragments/bottom.html :: fragment-footer"></footer>
<script type="text/javascript" th:src="@{/js/register.js}"></script>
</body>
</html>