.login-wrapper-div {
    flex: 0 0 100%;
    max-width: 100%;
    border: 1px solid #000000;
    height:700px;
    position: relative;
}

.login-div-1 {
    width: 450px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.select-user-type {
    display: -webkit-box;
    margin: auto;
    border: 1px solid;
    width: 90%;
    height: 45px;
    margin-top: 16px;
}

.select-user-type div {
    margin: auto;
}

.login-div-2 > div {
    display: -webkit-box;
    width: 90%;
    height: 72px;
    margin: auto;
    margin-top: 13px;
}

.form-check {
    margin: auto;
}

img {
    max-width: 100%;
    display: flex;
}

.social-img {
    display: flex;
}

.login-btn {
    display: flex;
    width: 80%;
    align-items: center;
    padding-left: 98px;
    font-size: 20px;
}

.user-type-div {
    background: #CC6D58;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.kakaoLogin-div {
    background: #F2CCB5;
    border-radius: 5px;
}

.naverLogin-div {
    background: #F2CCB5;
    border-radius: 5px;
}

.googleLogin-div {
    background: #F2CCB5;
    border-radius: 5px;
}