<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="fragments/top.html :: fragment-header"></header>
<link rel="stylesheet" href="/css/fail.css" type="text/css">
<!--페이지소스 시작-->

<section class="hero">
    <div class="container">
        <div class="row">
            <!--fail 시작-->
            <div class="fail-wrapper">
                <input type="hidden" th:value="${session.id}" id="userId">
                <div class="fail-inner-div">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                </div>
                <div class="fail-inner-div"><h3>결제가 실패되었습니다.</h3></div>
                <div class="fail-inner-div" th:unless="${message eq null}" >
                    <div class="error-message-div"><span class="error-label">오류메세지 : </span><span th:text="${message}"></span></div>
                    <div class="error-code-div"><span class="error-label">오류코드 : </span><span th:text="${code}"></span></div>
                </div>

                <div class="fail-inner-div"><h5>결제시 오류가 발생하였습니다. 오류메세지를 확인해주시기 바랍니다.</h5></div>
                <div class="fail-inner-div" style="display: flex; justify-content: center;">
                    <div class="btn-div"><button type="submit" class="btn btn-outline-dark" id="indexBtn">장터가기</button></div>
                    <div class="btn-div"><button type="submit" class="btn btn-outline-dark" id="Btn-orderList">주문목록</button></div>
                </div>
                <div class="fail-inner-div" >
                        다시 주문/결제 과정을 진행하여 주십시오<br>
                        지속적으로 주문/결제가 실패할경우 페이지 우측 하단의 챗봇을 통해 고객센터로 연락주시면 주문/결제를 도와드리겠습니다
                </div>
            </div>
            <!--fail 끝-->
        </div>
    </div>
</section>

<footer th:replace="fragments/bottom.html :: fragment-footer"></footer>
<script type="text/javascript" th:src="@{/js/cartList.js}"></script>
</body>
</html>