<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="/fragments/top.html :: fragment-header"></header>

<!--페이지소스 시작-->
<link rel="stylesheet" href="/css/user/login.css" type="text/css">

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="login-wrapper-div">


                <div class="login-div-1">

                    <div class="login-div-2">

                        <div class="user-type-div">

                            <div class="form-check" id="type-buyer-div">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    일반회원
                                </label>
                            </div>
                            <div class="form-check" id="type-seller-div">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    판매자
                                </label>
                            </div>


                        </div>


                        <div class="kakaoLogin-div">

                            <div class ="social-img">
                                <img src="/img/loginKakao.png" alt="카카오로고">
                            </div>
                            <div id="btn-kakao" class="login-btn"><a href="#" style="color: black;">카카오 로그인</a></div>

                        </div>

                        <div class="naverLogin-div">

                            <div class ="social-img">
                                <img src="/img/btnG_아이콘사각.png" alt="네이버로고" >
                            </div>
                            <div id="btn-naver" class="login-btn"><a href="#" style="color: black;">네이버 로그인</a></div>

                        </div>
                        <div class="googleLogin-div">
                            <div class ="social-img">
                                <img src="/img/Google.png" alt="구글로고">
                            </div>
                            <div id="btn-google" class="login-btn"><a href="/oauth2/authorization/google" style="color: black;">구글 로그인</a></div>


                        </div>


                    </div>

                </div>


            </div>
        </div>
    </div>
</section>

<!--페이지소스 끝-->
<footer th:replace="/fragments/bottom.html :: fragment-footer"></footer>

</body>
</html>