<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="fragments/top.html :: fragment-header"></header>
<!--페이지소스 시작-->
<link rel="stylesheet" href="/css/order.css" type="text/css">

<section class="hero">
    <div class="container">
        <div class="row">
            <!--주문시작-->
            <div class="wrapper-div">
                <!--주소-->
                    <div class = "order-list-address-wrapper">
                     <h5>주소확인</h5><span>주소가 올바른지 확인해주세요</span>
                        <div class = "order-list-address-update"><a th:href="@{/mypage/info}"><i class="fa-solid fa-pen-to-square"></i></a></div>
                        <div class ="order-address-info-div">
                            <div class="user-address"><label for="address-span">주소</label>
                                <span id="address-span" class="user-information"
                                      th:text="${address.address}"></span></div>
                            <div class="user-address"><label for="addressDetail-span">상세주소</label>
                                <span id="addressDetail-span" class="user-information"
                                      th:text="${address.addressDetail}"></span></div>
                            <div class="user-address"><label for="zipcode-span">우편번호</label>
                                <span id="zipcode-span" class="user-information"
                                      th:text="${address.zipcode}"></span></div>
                            <div class="user-address"><label for="enterMethod-span">출입방법</label>
                                <span id="enterMethod-span" class="user-information"
                                      th:text="${address.enterMethod}"></span></div>
                        </div>
                    </div>
                <div class="order-list-wrapper-body">
                    <div class="order-list-card-wrapper">
                        <!--상품Card 시작-->
                        <th:block th:each="orderItem : ${orderList}" class ="each-card-wrapper">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img th:src="'https://knitmarket-s3.s3.ap-northeast-2.amazonaws.com/uploadImg/' + ${orderItem.item.file.getOrginFileName()}" class="img-fluid rounded-start" th:alt="${orderItem.item.itemName}">
                                        <!--th:src="'https://knitmarket-s3.s3.ap-northeast-2.amazonaws.com/uploadImg/' + ${cartItem.item.getOrginFileName()}"-->
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <div><h5 class="card-title">상품명</h5><h5
                                                    th:text="${orderItem.item.itemName}"></h5></div>
                                            <div><label>상품금액</label>
                                                <p class="card-text"
                                                   th:text="${#numbers.formatInteger(orderItem.item.price, 3, 'COMMA') + ' 원'}"></p>
                                            </div>
                                            <div><label>판매자</label>
                                                <p class="card-text"
                                                   th:text="${orderItem.item.seller.store}"></p>
                                            </div>
                                            <div><label>상품등록일</label>
                                                <p class="card-text"><small class="text-muted"
                                                                            th:text="${#temporals.format(orderItem.item.regTime,'yyyy-MM-dd')}"></small>
                                                </p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <!--card 끝-->
                    </div>
                    <div class = "order-info-wrapper">
                        <div class="order-info-div">
                            <input type="hidden" th:value="${order.getUser().getName()}" id ="userName">
                            <input type="hidden" th:value="${order.getTotalPrice()}" id ="price">

                            <h5>결제정보</h5>
                            <hr>
                            <div class = "order-info"><!--th:text="${order.getTotalPrice()}-->
                                <label>총결제금액 : </label><span th:text="${#numbers.formatInteger(order.getTotalPrice(), 3, 'COMMA') + ' 원'}"></span>
                            </div>
                            <div class = "order-info">
                                <label>상품수량 : </label><span th:text="${order.getOrderItems().size()}+' 개'"></span>
                            </div>
                        </div>
                        <div class ="order-regulation-div">
                            <input type="checkbox" id="agreeChk"><label for="agreeChk">개인정보 수집 및 이용 동의</label>
                        </div>

                    </div>
                    <div class="order-list-wrapper-footer">
                        <!--주문상품 정보-->
                            <input type ="hidden" th:value="${order.getId()}" id ="orderIdInput">
                        <button type="button" class="btn btn-dark" id="payment-button">결제하기</button>
                    </div>
                </div>
            </div>
            <!--주문 끝-->
        </div>
    </div>
</section>
<!--페이지소스 끝-->

<footer th:replace="fragments/bottom.html :: fragment-footer"></footer>
<script src="https://js.tosspayments.com/v1"></script>
<script>
    var tossPayments = TossPayments("test_ck_OAQ92ymxN34v4YvAZYyrajRKXvdk");
    var button = document.getElementById("payment-button");
    var orderId = document.getElementById('orderIdInput').value +"-"+new Date().getTime();
    //Error: `orderId`는 영문 대소문자, 숫자, 특수문자(-, _) 만 허용합니다. 6자 이상 64자 이하여야 합니다.
    var orderName = '뜨개장터';
    var price = document.getElementById('price').value;
    var customerName = document.getElementById('userName').value;

    button.addEventListener("click", function () {
        if(document.getElementById("agreeChk").checked === false){
            alert("개인정보 수집 이용에 동의해주세요");
            event.preventDefault();
            return false;
        }
        var method = "카드"; // "카드" 혹은 "가상계좌"
        var paymentData = {
            amount: price,
            orderId: orderId,
            orderName: orderName,
            customerName: customerName,
            successUrl: 'knitmarket.shop' + "/order/success",
            failUrl: 'knitmarket.shop' + "/order/fail",
        };
        tossPayments.requestPayment(method, paymentData);
    });
</script>
</body>
</html>