<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="/fragments/top.html :: fragment-header"></header>
<!--페이지소스 시작-->
<link rel="stylesheet" href="/css/order.css" type="text/css">

<section class="hero">
    <div class="container">
        <div class="row">
            <!--주문시작-->
            <div class="wrapper-div">
                <!--주소-->
                    <div class = "order-list-address-wrapper">
                     <h5>주소확인</h5><span>주소가 올바른지 확인해주세요</span>
                        <div class ="order-address-info-div">
                            <div class="user-address"><label for="address-span">주소</label>
                                <span id="address-span" class="user-information"
                                      th:text="${address.address}"></span></div>
                            <div class="user-address"><label for="addressDetail-span">상세주소</label>
                                <span id="addressDetail-span" class="user-information"
                                      th:text="${address.addressDetail}"></span></div>
                            <div class="user-address"><label for="zipcode-span">우편번호</label>
                                <span id="zipcode-span" class="user-information"
                                      th:text="${address.zipcode}"></span></div>
                            <div class="user-address"><label for="enterMethod-span">출입방법</label>
                                <span id="enterMethod-span" class="user-information"
                                      th:text="${address.enterMethod}"></span></div>
                        </div>
                        <div class = "order-list-address-update"><a th:href="@{/knitmarket/mypage}"><i class="fa-solid fa-pen-to-square"></i></a></div>
                    </div>
                <div class="order-list-wrapper-body">
                    <div class="order-list-card-wrapper">
                        <!--상품Card 시작-->
                        <th:block th:each="orderItem : ${orderList}" class ="each-card-wrapper">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img th:src="@{/uploadImg/} + ${orderItem.item.file.getOrginFileName()}" class="img-fluid rounded-start" th:alt="${orderItem.item.itemName}">
                                        <!--th:src="@{/uploadImg/} + ${cartItem.item.getOrginFileName()}"-->
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${orderItem.item.itemName}"></h5>
                                            <p class="card-text" th:text="${orderItem.item.price}"></p>
                                            <p class="card-text"><small class="text-muted" th:text="${#temporals.format(orderItem.item.regTime,'yyyy-MM-dd')}"></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <!--card 끝-->
                    </div>



                    <div class="order-list-wrapper-footer">
                        <!--주문상품 정보-->
                        <button type="button" class="btn btn-light" id="whiteDelBtn">삭제하기</button>
                        <button type="button" class="btn btn-dark">결제하기</button>
                    </div>
                </div>
            </div>
            <!--주문 끝-->
        </div>
    </div>
</section>
<!--페이지소스 끝-->

<footer th:replace="/fragments/bottom.html :: fragment-footer"></footer>
<script type="text/javascript" th:src="@{/js/order.js}"></script>
</body>
</html>