<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="/fragments/top.html :: fragment-header"></header>
<!--페이지소스 시작-->
<link rel="stylesheet" href="/css/cartList.css" type="text/css">

<section class="hero">
    <div class="container">
        <div class="row">
            <!--장바구니목록 시작-->
            <div class="cart-list-wrapper-div">


            </div>
        </div><!--장바구니목록 끝-->
    </div>
    </div>
</section>
<!--페이지소스 끝-->

<footer th:replace="/fragments/bottom.html :: fragment-footer"></footer>
</body>
</html>