.wrapper-div {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    height:auto;
}

.cart-list-wrapper-top {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.cart-list-wrapper-body {
    height: 86%;
}

.cart-list-wrapper-footer {
    height: auto;
}

.card.mb-3 {width: 80%;height: auto;}

img.img-fluid.rounded-start {
    object-fit: contain;
}

.col-md-4 {width: 200px;height: 200px;}

.cart-list-card-wrapper {
    min-height: 465px;
    text-align : center;
}

.col-md-8 {
    text-align: left;
}

.card-body h5 {
    font-size: 28px;
    margin-bottom: 26px;
    font-family: 'Nanum Gothic';
    font-weight: bold;
}

.card-body {
    padding: 30px;
}


div#xWrap {
    font-size: 26px;
    margin: 10px;
}

input[type="checkbox"] {
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
    cursor: pointer;
}

.cart-list-wrapper-footer {
    display: flex;
    justify-content: space-evenly;
}

span.sold_out_span {
    float: right;
    font-size: 22px;
    color: #970f42;
    font-family: 'jua',sans-serif;
}


.cart-list-wrapper-footer button {
    width: 40%;
}

.card-info label {
    font-size: 18px;
    font-family: 'Nanum Gothic',sans-serif;
    font-weight: bold;
}

.card-info {
    width: 50%;
    display: flex;
    justify-content: space-between;
}


