.cart-list-wrapper-div {
    flex: 0 0 100%;
    max-width: 100%;
    border: 1px solid #000000;
    position: relative;
    height:auto;
}

.cart-list-wrapper-top {
    display: flex;
    border: 1px solid black;
    height: 7%;
    justify-content: space-between;
    align-items: center;
}

.cart-list-wrapper-body {
    height: 86%;
}

.cart-list-wrapper-footer {
    border: 1px solid black;
    height: 7%;
}

