.item-detail-wrapper-div {
    flex: 0 0 100%;
    max-width: 100%;
    height: 570px;
    display: flex;
    flex-wrap: wrap;
}

div#detail-wrapper-div {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.button-wrpper-div {
    display: flex;
    justify-content: space-between;
}

.btn1-div {
    width: 50%;
}

.btn2-div {
    width: 50%;
}

button.btn.btn-outline-success {
}

.button-wrpper-div button {
    width: 97%;
}

.button-wrpper-div {
    margin-top: 50px;
}

.detail-info-div-1 {margin-top: 59px;}

.detail-img-div {
    display: inline-block;
    overflow: hidden;
    width: 550px;
    line-height: 500px;
}

.detail-img-div > img {
    display: inline-block;
    height: auto;
    width: 90%;
    object-fit: cover;
    border-radius: 19px;
}
.detail-info-div {
    width: 40%;
}

.detail-info-div-2 h5 {font-family: 'Nanum Gothic';font-weight: bold;font-size: 21px;color: #9c0b0b;}

.sold-out-div {
    margin-top: 23px;
    text-align: center;
}
