.item-detail-wrapper-div {
    flex: 0 0 100%;
    max-width: 100%;
    border: 1px solid #000000;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

div#detail-wrapper-div {
    height: 500px;
    border: 1px solid black;
    width: 100%;
}

div#detail-wrapper-div {
    display: flex;
}

div#detail-wrapper-div > div {
    flex: 1 1;
    border: solid 1px black;
}


