.introduction-wrapper {    font-family: 'Nanum Gothic',sans-serif;
    background: #eee9dc99;
    padding-top: 25px;
    padding-bottom: 25px;}

.inner-div1 {
    width: 900px;
    margin: auto;
}

.inner-div1:first-child {
}

.introduction-title {
    display: flex;
    justify-content: center;
}

.logo-img-div {
    width: 400px;
}

.top-div {
    margin-top: 87px;
    margin-bottom: 76px;
    text-align: center;
    background: #fdfdfd;
    box-shadow: 5px 5px 9px 1px #bcbbbb;
    border-radius: 22px;
    padding: 10px 0px 10px 0px;
}

.inner-div1:nth-child(2) {
}

.img-inner-div {
    display: flex;
}

.inner-div1:nth-child(3) {
    margin-top: 74px;
}

.inner-div1:nth-child(4) {
    margin-top: 59px;
    margin-bottom: 20px;
}

i.fa-solid.fa-question {}

.introduction-i-div i {
    font-size: 53px;
}

.introduction-desc-wrapper {
    display: flex;
    margin-bottom: 94px;
}

.introduction-i-div {
    margin-left: 20px;
    margin-right: 20px;
}

.introduction-desc-div
{line-height: 50px;
    align-items: center;
    text-align: center;
    width: 46%;
    display: table;
}

.title-desc-div > span {
    font-size: 20px;
    font-family: 'Nanum Gothic',sans-serif;
    font-weight: bold;
    margin-left: 28px;
}

p.top-p {
    font-size: 18px;
}

.inner-div1:nth-child(3) p {
    font-size: 19px;
}

.title-desc-div {
    padding-left: 20px;
    padding-top: 18px;
}

.desc-img-div {
    width: 50%;
}

.introduction-desc-div span {
    font-size: 21px;
    font-family: 'IBM Plex Sans KR',sans-serif;
}
span.introduction-desc-p {
    display: table-cell;
    vertical-align: middle;
}


span.introduction-desc-p {
    display: table-cell;
    vertical-align: middle;
}

span.top-p {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.bottom-div {
    text-align: center;    margin-top: 44px;
}

span.bottom-p {
    font-size: 20px;
}

img {
    border-radius: 53px;
}

