
a {
    color: #000000;
    text-decoration: none;
}

a:hover{
    color:black;
}

.item-wrapper-div {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    height:auto;
}

img#logo {
    width: 206px;
}

header.header {
    margin-bottom: 37px;
}

.item-wrapper-top {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}


.item-wrapper-bottom {
    height: 70px;
}

.button-area {
    margin: 10px;
}

.search-area {
    margin: 10px;
}

input.search-keyword {
    height: 33px;
}

.login-div {
    padding: 10px;
    background: #f5f0f0;
    border-radius: 10px;
    margin: auto;
}

.dropdown {
    width: 30px;
    display: inline-block;
    padding: 20px;
}

.col-lg-3 {
    display: flex;
    align-items: center;
}

.login-div > a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.login-div > a:hover {
    color: #970f42;
}

.card {
    display: inline-block;
    margin: 41px;
}

.item-wrapper-body {
    height: 86%;
}

body {
    background: #fcf2e442;
}

.row > .wrapper-div {
    min-height: 580px;
}

.col-lg-6 {display: flex;align-items: center;}

nav.header__menu {display: inline-block;width: 100%;}

nav.header__menu > ul > li > a {
    font-size: 22px;
    font-family: IBM Plex Sans KR, sans-serif
}

ul {
    display: flex;
    justify-content: space-around;
}


