.mypage-wrapper-div {
    flex: 0 0 100%;
    max-width: 100%;
    height: 700px;
    display: block;
    flex-wrap: wrap;
}

div#mypage-row {
    display: block;
}

.mypage-info-wrapper-div {
    width: 70%;
    height: auto;
    padding: 20px;
    margin: auto;
}

.mypage-info-wrapper-div > div {
    width: 60%;
    border: 2px solid #b9ada8;
    height: auto;
    padding: 27px;
    margin: auto;
    box-shadow: 2px 2px 2px 4px #80808029;
    margin-top: 80px;
    border-radius: 27px;
    background: white;
}

.mypage-info-wrapper-div h5 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: inherit;
}

.mypage-info-wrapper-div label {
    font-size: 20px;
    font-weight: bold;
}

.mypage-info-wrapper-div span {
    font-size: 19px;
    margin-left: 14px;
}

.btn-div {
    margin-top: 23px;
    display: flex;
    justify-content: flex-end;
}

.mypage-wrapper-div {
    flex: 0 0 100%;
    max-width: 100%;
    height: 700px;
    display: block;
    flex-wrap: wrap;
}

div#mypage-row {
    display: block;
}

.mypage-info-wrapper-div {
    width: 70%;
    height: auto;
    padding: 20px;
    margin: auto;
}

.mypage-info-wrapper-div > div {
    width: 60%;
    border: 2px solid #b9ada8;
    height: auto;
    padding: 27px;
    margin: auto;
    box-shadow: 8px 8px 10px 4px #8080805c;
    margin-top: 80px;
    border-radius: 27px;
}

.mypage-info-wrapper-div h5 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: inherit;
    color: #000000b0;
}

.mypage-info-wrapper-div label {
    color: #000000b0;
    font-size: 20px;
    font-weight: bold;
}

.mypage-info-wrapper-div span {
    color: #00000087;
    font-size: 19px;
    margin-left: 14px;
}

.user-address-info > div.user-address {
    display: flex;
    justify-content: space-between;
}

.member-information {
    display: flex;
    justify-content: space-between;
}

