.wrapper-div {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    height:auto;
}

.order-list-wrapper-body {
    height: 86%;
    min-height: 560px;
}

.order-list-wrapper-footer {
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 46px;
}

.order-list-card-wrapper {
    text-align: center;
}

.card.mb-3 {width: 54%;height: auto;}

img.img-fluid.rounded-start {
    object-fit: contain;
}

.col-md-4 {width: 200px;height: 200px;}

.card-body {
    text-align: left;
    padding: 26px;
}

.order-list-address-wrapper {width: 54%;border: 1px solid #d2d2d2;margin: auto;background: white;margin-top: 43px;padding: 27px;border-radius: 5px;}

.order-list-address-wrapper > h5 {
    font-size: 28px;
    display: inline;
    font-weight: bold;
}

.order-list-address-wrapper > span {display: inline-block;color: red;margin-left: 14px;font-weight: 500;}

.order-address-info-div {
    width: 91%;
    margin: auto;
    margin-top: 18px;
    font-size: 18px;
    display: inline-block;
}

.order-list-address-update {
    font-size: 22px;
    display: inline-block;
}

.user-address > label {
    font-weight: 600;
}

span#address-span {
}

.user-address > span {
    margin-left: 14px;
}

.order-info-wrapper {
    width: 54%;
    margin: auto;
    height: 200px;
    padding: 34px;
}

.order-info-div > h5 {
    font-size: 27px;
    font-family: fantasy;
    font-weight: bold;
}

.order-info {
    margin-bottom: 15px;
}

.order-info > label {
    font-size: 22px;
    font-weight: 500;
}

span {}

.order-info > span {
    float: right;
    font-size: 22px;
}

.order-regulation-div > label {
    margin-left: 10px;
}

button.btn.btn-dark {
    width: 50%;
}

.order-regulation-div {
    margin-top: 26px;
}

input#agreeChk {}

