<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="fragments/top.html :: fragment-header"></header>
<!--페이지소스 시작-->

<section class="hero">
    <div class="container">
        <div class="row">
            <!--상품목록시작-->
            <div class="item-wrapper-div">

                <div class="item-wrapper-top">
                    <!--<div class="search-area">
                        <select>
                            <option>옵션</option>
                        </select>&nbsp;
                        <input type="text" class="search-keyword">&nbsp;
                        <button type="button" class="btn btn-outline-secondary" id="search-btn">검색</button>
                    </div>-->
                    <div class="info-div" th:if="${session.id eq null}"><i class="fa-solid fa-location-arrow"></i><span>&nbsp;로그인 후 상품을 구매할 수 있습니다</span></div>
                </div>

                <!--상품목록시작-->
                <div class="item-wrapper-body">

                    <th:block th:each="item : ${itemList}">
                        <a th:href="@{'/item/detail/'+${item.id}}">
                            <div class="card">
                                <div class="card-img-div">
                        <!--            C:\Users\user\Desktop\proj\Knitmarket\src\main\webapp\static\uploadImg-->
         <!--                           src="${pageContext.request.contextPath}/images/test9.png-->
                                <img th:src="'http://knitmarket.shop/uploadImg/'+ ${item.getOrginFileName()}" class="card-img-top"
                                     th:alt="${item.itemName}">
                                </div>
                                <div class="card-body">
                                    <div class="card-itemName-div">
                                        <h5 class="card-title" th:text="${item.itemName}"></h5>
                                    </div>
                                    <div class="card-itemInfo-div">
                                        <p class="card-text" th:text="${#numbers.formatInteger(item.price, 3, 'COMMA') + ' 원'}"></p>
                                        <span class="sold_out_span"
                                              th:if="${item.sellStatus!=T(com.proj.KnitMarket.Constant.SellStatus).SELL}"><i class="fa-solid fa-heart-circle-check"></i>&nbsp;품절</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </th:block>


                </div>
                <!--상품목록 끝-->

                <!--페이징시작-->
                <div class="item-wrapper-bottom">


                </div>
                <!--페이징끝-->

            </div>
        </div>
    </div>
</section>
<!--페이지소스 끝-->
<footer th:replace="fragments/bottom.html :: fragment-footer"></footer>

</body>
</html>