<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="fragments/top.html :: fragment-header"></header>
<!--페이지소스 시작-->

<section class="hero">
    <div class="container">
        <div class="row">
            <!--상품목록시작-->
            <div class="item-wrapper-div">

                <div class="item-wrapper-top" style="justify-content: space-between">
                    <!--오픈예정인 웹서비스입니다.(테스트 ID/PW : 1004/test123)-->
                    <div class="info-div" th:if="${session.id eq null}"><span>&nbsp;PC 접속을 권장합니다 (모바일 접속 X)&nbsp;</span></div>
                    <div class="info-div" th:if="${session.id eq null}"><i class="fa-solid fa-location-arrow"></i><span>&nbsp;로그인 후 상품구매 가능합니다&nbsp;<i class="fa-regular fa-face-grin-wide"></i></span></div>


                </div>

                <!--상품목록시작-->
                <div class="item-wrapper-body">

                    <th:block th:each="item : ${itemList}">
                        <a th:href="@{'/item/detail/'+${item.id}}">
                            <div class="card">
                                <div class="card-img-div">
                                <img th:src ="'https://knitmarket-s3.s3.ap-northeast-2.amazonaws.com/uploadImg/'+${item.getOrginFileName()}" class="card-img-top"
                                     th:alt="${item.itemName}">
                                </div>
                                <div class="card-body">
                                    <div class="card-itemName-div">
                                        <h5 class="card-title" th:text="${item.itemName}"></h5>
                                    </div>
                                    <div class="card-itemInfo-div">
                                        <p class="card-text" th:text="${#numbers.formatInteger(item.price, 3, 'COMMA') + ' 원'}"></p>
                                        <span class="sold_out_span"
                                              th:if="${item.sellStatus!=T(com.proj.KnitMarket.Constant.SellStatus).SELL}"><i class="fa-solid fa-heart-circle-check"></i>&nbsp;품절</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </th:block>
                </div>
                <!--상품목록 끝-->

            </div>
        </div>
    </div>
</section>
<!--페이지소스 끝-->
<footer th:replace="fragments/bottom.html :: fragment-footer"></footer>

</body>
</html>