<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="/fragments/top.html :: fragment-header"></header>
<!--페이지소스 시작-->

<section class="hero">
    <div class="container">
        <div class="row">
            <!--상품목록시작-->
            <div class="item-wrapper-div">

                <div class="item-wrapper-top">
                    <div class="search-area">
                        <select>
                            <option>옵션</option>
                        </select>&nbsp;
                        <input type="text" class="search-keyword">&nbsp;
                        <button type="button" class="btn btn-outline-secondary" id="search-btn">검색</button>
                    </div>

                </div>

                <!--상품목록시작-->
                <div class="item-wrapper-body">

                    <div class="card" style="width: 18rem;" th:each="item : ${itemList}">
                        <img th:src="@{/uploadImg/} + ${item.getOrginFileName()}" class="card-img-top" th:alt="${item.itemName}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.itemName}"></h5>
                            <p class="card-text" th:text="${item.price}"></p>
                            <span class ="sold_out_span"  th:if="${item.sellStatus!=T(com.proj.KnitMarket.Constant.SellStatus).SELL}">품절</span>
                        </div>
                    </div>
                </div>
                <!--상품목록 끝-->

                <!--페이징시작-->
                <div class="item-wrapper-bottom">


                </div>
                <!--페이징끝-->

            </div>
        </div>
    </div>
</section>
<!--페이지소스 끝-->
<footer th:replace="/fragments/bottom.html :: fragment-footer"></footer>

</body>
</html>