.item-wrapper-top {
    display: flex;
    border: 1px solid black;
    height: 7%;
    justify-content: space-between;
    align-items: center;
}

.item-wrapper-body {
    border: 1px solid black;
    height: 86%;
}

.item-wrapper-bottom {
    border: 1px solid black;
    height: 7%;
}

.button-area {
    margin: 10px;
}

.search-area {
    margin: 10px;
}

input.search-keyword {
    height: 33px;
}