<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="fragments/top.html :: fragment-header"></header>
<!--페이지소스 시작-->
<link rel="stylesheet" href="/css/cartList.css" type="text/css">

<section class="hero">
    <div class="container">
        <div class="row">
            <!--장바구니목록 시작-->
            <div class="cart-list-wrapper-div" style="min-height: 650px;">
                <div class="cart-list-wrapper-top">
                </div>
                <div class="cart-list-wrapper-body">
                    <div class="myItem-card-wrapper">
                        <!--상품Card 시작-->
                        <th:block th:each="myItem : ${myItemList}" class="each-card-wrapper" th:if="${myItemList.size() != 0}">
                            <a th:href="@{'/item/detail/'+${myItem.id}}">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img th:src="@{/uploadImg/} + ${myItem.getOrginFileName()}"
                                                 class="img-fluid rounded-start" th:alt="${myItem.itemName}">
                                            <!--th:src="@{/uploadImg/} + ${cartItem.item.getOrginFileName()}"-->
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title" th:text="${myItem.itemName}"></h5>
                                                <div class="card-info">
                                                    <label for="price">가격</label>
                                                    <span class="card-text"
                                                          th:text="${#numbers.formatInteger(myItem.price, 3, 'COMMA') + ' 원'}"
                                                          id="price"></span>
                                                </div>
                                                <div class="card-info">
                                                    <label for="regdate">판매일</label>
                                                    <span class="card-text"><small class="text-muted"
                                                                                   th:text="${#temporals.format(myItem.regTime,'yyyy-MM-dd')}"
                                                                                   id="regdate"></small></span>
                                                </div>
                                                <span class="sold_out_span"
                                                      th:if="${myItem.sellStatus!=T(com.proj.KnitMarket.Constant.SellStatus).SELL}"><i
                                                        class="fa-solid fa-heart-circle-check"></i>판매완료</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </a>
                        </th:block>
                        <th:block th:unless="${myItemList.size() != 0}">
                            <div class ="empty-div">
                                <h5>휑</h5>
                            </div>
                            <div class ="empty-p-div">
                                <p>등록하신 상품이 없습니다</p>
                            </div>
                        </th:block>
                        <!--card 끝-->
                    </div>
                    <div class="cart-list-wrapper-footer">
                        <!--주문상품 정보-->

                    </div>
                </div>
            </div>
        </div><!--장바구니목록 끝-->
    </div>
</section>
<!--페이지소스 끝-->
<footer th:replace="fragments/bottom.html :: fragment-footer"></footer>
</body>
</html>