<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/top.html :: fragment-head"></head>
<body>
<header th:replace="/fragments/top.html :: fragment-header"></header>
<!--페이지소스 시작-->
<link rel="stylesheet" href="/css/mypage.css" type="text/css">

<section class="hero">
    <div class="container">
        <div class="row" id="mypage-row">
            <!--장바구니목록 시작-->
            <div class="mypage-wrapper-div">
                <div class="mypage-info-wrapper-div">

                    <div class="member-information-div">
                        <h5>내 정보</h5>
                        <div class="member-information"><label for="name">이&nbsp;&nbsp;&nbsp;&nbsp;름</label>
                            <span id="name" th:text="${name}"></span></div>
                        <div class="member-information"><label for="email">이메일</label>
                            <span id="email" class="user-information" th:text="${email}"></span></div>
                    </div>
                    <!---->
                    <div class="member-second-information-div">
                        <div class="seller-store-info">
                            <th:block th:if="${store}!=null">
                            <div class="seller-store-information"><label for="store">가게명</label>
                                <span id="store" th:text="${store}"></span>
                            </div>
                            <div class="btn-div">
                                <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1"
                                        data-bs-whatever="@fat">수정하기
                                </button>
                            </div>
                            </th:block>

                            <th:block th:unless="${store}!=null">
                            <div class="user-address">
                                <span id="store-empty-span" class="user-information">등록된 상호명이 없습니다</span></div>
                            <div class="btn-div">
                                <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1"
                                        data-bs-whatever="@fat">등록하기
                                </button>
                            </div>
                            </th:block>

                            <!--모달시작-->
                            <div class="modal fade" tabindex="-1" id="exampleModal1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">상호명을 입력해주세요</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body">
                                            <form th:action method="post">
                                                <div class="mb-3">
                                                    <label for="recipient-name" class="col-form-label">가게이름</label>
                                                    <input type="text" class="form-control" id="recipient-name"
                                                           name="store">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">닫기
                                                    </button>
                                                    <button type="button" class="btn btn-primary"
                                                            th:formaction="@{'/knitmarket/store/' + ${id} }">등록
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--모달끝-->
                        </div>
                    </div>
                </div>
            </div>
        </div><!--장바구니목록 끝-->
<!--    </div>-->
</section>
<!--페이지소스 끝-->
<footer th:replace="/fragments/bottom.html :: fragment-footer"></footer>
<script type="text/javascript" th:src="@{/js/mypage.js}"></script>
</body>
</html>